Sec-WebSocket-Key should be base64 encoded instead of UUID string

The websocket client implementation sends the generated UUID as a string instead of base64 encoded

RFC 6455 - 4.1.  Client Requirements
1.   The request MUST include a header field with the name
       |Sec-WebSocket-Key|.  The value of this header field MUST be a
       nonce consisting of a randomly selected 16-byte value that has
       been base64-encoded (see Section 4 of [RFC4648]).  The nonce
       MUST be selected randomly for each connection.
